@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

@mixin min-media {
   @media (min-width: 800px) {
      @content;
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: 0.3s all;
}

:root {
   --pale-blue: hsl(225, 100%, 94%);
   --bright-blue: hsl(245, 75%, 52%);
   --very-pale-blue: hsl(225, 100%, 98%);
   --desaturated-blue: hsl(224, 23%, 55%);
   --dark-blue: hsl(223, 47%, 23%);
   --border-radius: 1.3rem;
   --margin: 1.2rem;

   @include min-media {
      --margin: 1.5rem;
   }
}

body {
   min-height: 100vh;
   width: 100%;
   background: {
      color: var(--pale-blue);
      image: url("../images/pattern-background-mobile.svg");
      repeat: no-repeat;
      size: 100%;
   }
   position: relative;
   display: grid;
   place-items: center;
   font: {
      size: 16px;
      family: "Red Hat Display", sans-serif;
   }

   @include min-media {
      background-image: url("../images/pattern-background-desktop.svg");
   }
}

.card {
   background-color: var(--very-pale-blue);
   max-width: 300px;
   border-radius: var(--border-radius);

   @include min-media {
      max-width: 370px;
   }

   &-img {
      max-width: 100%;
      height: auto;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
   }

   &__body {
      padding: 0.955rem;
      text-align: center;

      & > * {
         margin: var(--margin) 0;
      }

      &-title {
         font-size: 1.3rem;
         color: var(--dark-blue);
         margin: 0;

         @include min-media {
            font-size: 1.6rem;
         }
      }

      &-description {
         color: var(--desaturated-blue);
         line-height: 1.5;
      }

      &-price {
         box-sizing: content-box;
         border-radius: calc(var(--border-radius) - 0.5rem);
         background-color: #efefef;
         width: 90%;
         padding: 0.5rem 1rem;
         margin: var(--margin) auto;
         display: flex;
         align-items: center;

         @include min-media {
            width: 80%;
         }

         &-icon img {
            border-radius: 50%;
            vertical-align: middle;
         }

         &-description {
            margin: {
               right: 1.8rem;
               left: 1rem;
            }
            font-size: 0.875rem;
            text-align: left;
            line-height: 1.5;

            &-title {
               font-weight: bold;
               color: var(--dark-blue);
               font-size: 0.975rem;
               display: block;
            }

            &-value {
               color: var(--desaturated-blue);
            }
         }

         &-btn {
            font-size: 0.875rem;
            color: var(--bright-blue);
            font-weight: 600;
            flex: 1;
            text-align: right;

            &:hover {
               text-decoration: none;
               opacity: 0.7;
            }
         }
      }
   }

   &__footer {
      display: grid;
      grid-template-columns: 85%;
      grid-template-rows: auto auto;
      justify-content: center;
      margin-bottom: var(--margin);

      & > .btn {
         background: transparent;
         border: 0;
         font-size: 1rem;
         color: #666;
         font-weight: 600;
         padding: 0.7rem 0;
         border-radius: 0.5rem;
         cursor: pointer;

         &:not(.primary):hover {
            color: #222;
         }
      }

      & > .primary {
         background-color: var(--bright-blue);
         box-shadow: 0 10px 10px rgba(100, 100, 197, 0.5);
         color: #fff;

         &:hover {
            opacity: 0.8;
         }
      }
   }
}

.attribution {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   font-size: 12px;
   padding: 1rem 0;
}
